*~
*.swp
*.swo
*.sdf
*.suo
*.png
*.opensdf
*.unity*
*.mat
*.bmp
*.gch
mono*
Source/CMakeCache.txt
Source/CMakeFiles/
bin/
obj/
Build/
Managed Source/
Source/mono/
Source/Release/
Source/[Dd]ebug/
ipch/
#CMakeLists.*
*.cgfx
